# Project 1, Part 6, Best Recommendation

University of California, Berkeley
Master of Information and Data Science (MIDS) program
w205 - Fundamentals of Data Engineering

Student: Landon Morin

Year: 2022

Semester: Spring

Section:

# Included Modules and Packages

Code cell containing your includes for modules and packages

In [21]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import FuncFormatter
import matplotlib.ticker as mticker

import json

import os

import gmaps
import gmaps.geojson_geometries

from geographiclib.geodesic import Geodesic




import psycopg2

# Supporting code

Code cells containing any supporting code, such as connecting to the database, any functions, etc.  Remember you can use any code from the labs.

Number of zip codes: 550
['33004', '33009', '33010', '33012', '33013', '33014', '33015', '33016', '33018', '33019', '33020', '33021', '33023', '33024', '33025', '33026', '33027', '33028', '33029', '33032', '33033', '33039', '33054', '33055', '33056', '33109', '33122', '33125', '33126', '33127', '33128', '33129', '33130', '33131', '33132', '33133', '33134', '33135', '33136', '33137', '33138', '33139', '33140', '33141', '33142', '33143', '33144', '33145', '33146', '33147', '33149', '33150', '33154', '33155', '33156', '33157', '33158', '33160', '33161', '33162', '33165', '33166', '33167', '33168', '33169', '33170', '33172', '33173', '33174', '33175', '33176', '33177', '33178', '33179', '33180', '33181', '33182', '33183', '33184', '33185', '33186', '33187', '33189', '33190', '33193', '33196', '33301', '33312', '33314', '33315', '33316', '33317', '33324', '33325', '33328', '33330', '33331', '33332', '37013', '37014', '37015', '37027', '37035', '37048', '37062', '37064', '37066', '37067', '37069', '37072', '37073', '37075', '37076', '37080', '37082', '37086', '37115', '37122', '37129', '37135', '37138', '37143', '37146', '37167', '37179', '37187', '37188', '37189', '37201', '37203', '37204', '37205', '37206', '37207', '37208', '37209', '37210', '37211', '37212', '37214', '37215', '37216', '37217', '37218', '37219', '37220', '37221', '37228', '37240', '75001', '75002', '75006', '75007', '75010', '75013', '75019', '75022', '75023', '75024', '75025', '75028', '75032', '75034', '75035', '75038', '75039', '75040', '75041', '75042', '75043', '75044', '75048', '75050', '75051', '75052', '75054', '75056', '75057', '75060', '75061', '75062', '75063', '75065', '75067', '75074', '75075', '75077', '75080', '75081', '75082', '75087', '75088', '75089', '75093', '75094', '75098', '75104', '75114', '75115', '75116', '75125', '75126', '75134', '75137', '75141', '75146', '75149', '75150', '75154', '75159', '75166', '75172', '75180', '75181', '75182', '75201', '75202', '75203', '75204', '75205', '75206', '75207', '75208', '75209', '75210', '75211', '75212', '75214', '75215', '75216', '75217', '75218', '75219', '75220', '75223', '75224', '75225', '75226', '75227', '75228', '75229', '75230', '75231', '75232', '75233', '75234', '75235', '75236', '75237', '75238', '75240', '75241', '75243', '75244', '75246', '75247', '75248', '75249', '75251', '75252', '75253', '75254', '75287', '76001', '76002', '76006', '76010', '76011', '76012', '76013', '76014', '76015', '76016', '76017', '76018', '76021', '76022', '76034', '76039', '76040', '76051', '76053', '76054', '76063', '76065', '76092', '76112', '76118', '76120', '76155', '76180', '76182', '94002', '94005', '94010', '94014', '94015', '94030', '94037', '94044', '94063', '94065', '94066', '94070', '94080', '94102', '94103', '94104', '94105', '94107', '94108', '94109', '94110', '94111', '94112', '94114', '94115', '94116', '94117', '94118', '94121', '94122', '94123', '94124', '94127', '94128', '94129', '94130', '94131', '94132', '94133', '94134', '94158', '94401', '94402', '94403', '94404', '94501', '94502', '94503', '94506', '94507', '94510', '94516', '94517', '94518', '94519', '94520', '94521', '94523', '94525', '94526', '94528', '94530', '94536', '94541', '94542', '94544', '94545', '94546', '94547', '94549', '94552', '94553', '94555', '94556', '94563', '94564', '94565', '94568', '94569', '94572', '94575', '94577', '94578', '94579', '94580', '94582', '94583', '94587', '94588', '94589', '94590', '94591', '94592', '94595', '94596', '94597', '94598', '94601', '94602', '94603', '94605', '94606', '94607', '94608', '94609', '94610', '94611', '94612', '94613', '94618', '94619', '94621', '94702', '94703', '94704', '94705', '94706', '94707', '94708', '94709', '94710', '94720', '94801', '94803', '94804', '94805', '94806', '94901', '94903', '94904', '94920', '94925', '94930', '94939', '94941', '94945', '94949', '94957', '94960', '94963', '94964', '94965', '94970', '94973', '98001', '98002', '98003', '98004', '98005', '98006', '98007', '98008', '98011', '98012', '98014', '98019', '98020', '98021', '98023', '98024', '98026', '98027', '98028', '98029', '98030', '98031', '98032', '98033', '98034', '98036', '98037', '98038', '98039', '98040', '98042', '98043', '98047', '98050', '98052', '98053', '98055', '98056', '98057', '98058', '98059', '98065', '98070', '98072', '98074', '98075', '98077', '98087', '98092', '98101', '98102', '98103', '98104', '98105', '98106', '98107', '98108', '98109', '98110', '98112', '98115', '98116', '98117', '98118', '98119', '98121', '98122', '98125', '98126', '98133', '98134', '98136', '98144', '98146', '98148', '98155', '98164', '98166', '98168', '98177', '98178', '98188', '98198', '98199', '98203', '98204', '98208', '98236', '98275', '98296', '98310', '98311', '98312', '98314', '98315', '98329', '98332', '98337', '98340', '98342', '98345', '98346', '98354', '98359', '98366', '98367', '98370', '98383', '98392', '98403', '98407', '98416', '98421', '98422']

GeoJSON Files: ['ca_california_geojson.json', 'fl_florida_geojson.json', 'tn_tennessee_geojson.json', 'tx_texas_geojson.json', 'wa_washington_geojson.json']

FileNotFoundError: [Errno 2] No such file or directory: 'geojson_data/customer_zip_geojson.json'

In [11]:
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [12]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [13]:
cursor = connection.cursor()

## The executives would like your best recommendation for the business. 

## Create an executive summary giving and explaining your best recommendation for the business. 

## You must support your summary with data, in the form of output of queries, data visualization, etc. There is a 1 query minimum.

In [14]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select c.customer_id,
       s.city as store,
       z.density, 
       z.longitude, 
       z.latitude, 
       z.zip
from stores as s
    join customers as c
        on s.store_id = c.closest_store_id
    join zip_codes as z
        on c.zip = z.zip
group by c.customer_id, z.zip, s.city, z.longitude, z.latitude, z.density
order by c.customer_id

"""

df1=my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)
df1

       customer_id      store   density  longitude  latitude    zip
0                1   Berkeley  12056.40  -122.2643   37.8343  94609
1                2   Berkeley  12056.40  -122.2643   37.8343  94609
2                3   Berkeley  12056.40  -122.2643   37.8343  94609
3                4   Berkeley  12056.40  -122.2643   37.8343  94609
4                5   Berkeley  12056.40  -122.2643   37.8343  94609
...            ...        ...       ...        ...       ...    ...
31077        31078  Nashville    220.15   -86.9277   35.8116  37179
31078        31079  Nashville    220.15   -86.9277   35.8116  37179
31079        31080  Nashville    220.15   -86.9277   35.8116  37179
31080        31081  Nashville    220.15   -86.9277   35.8116  37179
31081        31082  Nashville    220.15   -86.9277   35.8116  37179

[31082 rows x 6 columns]

In [15]:
min_value = df1['density'].min()
max_value = df1['density'].max()

bins = np.linspace(min_value,max_value,10)

df1['bins'] = pd.cut(df1['density'], bins=bins, include_lowest=True)

In [16]:
df1

,customer_id,store,density,longitude,latitude,zip,bins
0,1,Berkeley,12056.40,-122.2643,37.8343,94609,"(11350.398, 17025.467]"
1,2,Berkeley,12056.40,-122.2643,37.8343,94609,"(11350.398, 17025.467]"
2,3,Berkeley,12056.40,-122.2643,37.8343,94609,"(11350.398, 17025.467]"
3,4,Berkeley,12056.40,-122.2643,37.8343,94609,"(11350.398, 17025.467]"
4,5,Berkeley,12056.40,-122.2643,37.8343,94609,"(11350.398, 17025.467]"
...,...,...,...,...,...,...,...
31077,31078,Nashville,220.15,-86.9277,35.8116,37179,"(0.259, 5675.329]"
31078,31079,Nashville,220.15,-86.9277,35.8116,37179,"(0.259, 5675.329]"
31079,31080,Nashville,220.15,-86.9277,35.8116,37179,"(0.259, 5675.329]"
31080,31081,Nashville,220.15,-86.9277,35.8116,37179,"(0.259, 5675.329]"
31081,31082,Nashville,220.15,-86.9277,35.8116,37179,"(0.259, 5675.329]"

In [27]:
f = open('gmap_api_key.txt', 'r')
my_api_key = f.read()
f.close()

gmaps.configure(api_key=my_api_key)

In [50]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select z.latitude, z.longitude
from customers as cu
     join zip_codes as z
         on cu.zip = z.zip
order by 1,2

"""

df2 = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)
df2

       latitude  longitude
0       25.4837   -80.4136
1       25.5021   -80.3997
2       25.5021   -80.3997
3       25.5021   -80.3997
4       25.5302   -80.3919
...         ...        ...
31077   47.9581  -122.4047
31078   47.9581  -122.4047
31079   47.9581  -122.4047
31080   47.9581  -122.4047
31081   47.9581  -122.4047

[31082 rows x 2 columns]

In [52]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select latitude, longitude
from stores
order by 1

"""

df3 = my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)
df3
df_markers = df3[['latitude','longitude']]

In [53]:
f = open('geojson_data/customer_zip_geojson.json')
customer_zip_geojson = json.load(f)
f.close()

kansas = (38.4942,-98.3132)

fig = gmaps.figure(center=kansas, zoom_level=4, map_type = 'HYBRID')
          
geojson_layer = gmaps.geojson_layer(customer_zip_geojson)

heatmap_layer = gmaps.heatmap_layer(df2)

marker_layer = gmaps.marker_layer(df_markers)

fig.add_layer(marker_layer)
fig.add_layer(heatmap_layer)
fig.add_layer(geojson_layer)

fig

Figure(layout=FigureLayout(height='420px'))